{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        [
            "jsx-remove-attributes",
            {
                "attributes": [
                    "role"
                ]
            }
        ]
    ]
}